<h1>CONNEXION</h1>
<div class="row">
        <form class="col s12" [formGroup]="registerForm">
            <div class="row">
                <div class="input-field col s6 offset-s3">
                  <input id="email" type="email" class="validate" formControlName="email" placeholder="E-mail">
                </div>
              </div>
          <div class="row">
            <div class="input-field col s6 offset-s3">
              <input id="password" type="password" class="validate" formControlName="password" placeholder="Password">
              <label for="password"></label>
            </div>
          </div>
          <div>
              <button [disabled]="registerForm.invalid" class="btn waves-effect waves-light green" type="submit" name="action" (click)="onConnect()">Connexion</button>
          </div>
          <br>
        </form>
      </div>