<nav>
        <div class="nav-wrapper">
          <img src="../../assets/Images/logo.jpg" id="logo" class="brand-logo">
          <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/presentation">Presentation</a></li>
                <li><a routerLink="/contact">Contact</a></li>
                <li *ngIf="test"><a routerLink="/admin">Admin</a></li>
                <li><a routerLink="/connexion">Connexion</a></li>
                <li *ngIf="test"><a (click)='onLogout()' routerLink="/logout">Déconnexion</a></li>
          </ul>
        </div>
</nav> 