<h1>Présentation</h1>

<div>

    <img class="img" src="../../assets/Images/yves0.jpg" width="280px" height="300px" alt="">
    <p>
    Yves Mathieu-Saint-Laurent, dit Yves Saint Laurent, né le 1er août 1936 à Oran en Algérie, et mort le 1er juin 2008 à Paris en France, est un grand couturier français, l'un des plus célèbres au monde et dont les collections de haute couture font partie de l'histoire du xxe siècle.
    </p>
    
    <img class="img" src="../../assets/Images/yves1.jpg" width="400px" height="250px" alt="">
    <p>
    Yves Mathieu-Saint-Laurent naît à Oran où il passe sa jeunesse, avant d'arriver à Paris pour travailler chez Dior. Dessinateur doué, son influence va en grandissant dans cette maison jusqu'à remplacer Christian Dior à la mort soudaine du couturier. Yves Saint Laurent y connaît alors un triomphe à l'âge de vingt et un ans seulement, dès la première collection « Trapèze ». Quelques années plus tard, il quitte la prestigieuse maison de l'avenue Montaigne pour fonder l'entreprise qui porte son nom, avec son compagnon Pierre Bergé qui ne le quittera plus jusqu'à sa mort. La première collection haute couture est présentée en 1962 ; elle sera suivie de la robe Mondrian ou la collection « Pop Art » qui rappellent son goût pour l'art, puis Le smoking et le tailleur-pantalon hérités du vestiaire masculin, la saharienne qu'il transforme d'un vêtement fonctionnel en un élément chic, les cuissardes, les blouses transparentes qui font couler tant d'encre dans la presse en pleine révolution sexuelle… Épris d'exotisme tout au long de sa vie, il est le premier à engager pour ses défilés des mannequins d'origine asiatique ou africaine. Moderniste et en phase avec son époque, il crée en parallèle à la haute couture, son prêt-à-porter de luxe sous le nom de rive gauche ; celui-ci deviendra un exemple pour de nombreux autres couturiers.
    </p>

    <img class="img" src="../../assets/Images/yves2.png" width="300px" height="200px" alt="">
    <p>
    Dans les années 1970, la collection « Libération » marque les esprits ; par la suite, plusieurs autres défilés rendent hommage aux peintres, tels que Matisse ou Van Gogh, à ses inspirations lointaines comme la Russie avec la collection « Opéra-Ballets-Russes » ou l’Asie, collection symbolisée par le parfum Opium. Il connait également les excès de l'alcool, de la drogue, des médicaments, ses « faux amis ». Lors de la décennie suivante, il présente la collection « Picasso » une fois de plus référence à l'art. Durant ces années, l'entreprise croît par le succès des parfums, cosmétiques ou accessoires. Le couturier est alors récompensé d'un Oscar de la mode. À la fin des années 1990, lassé de dessiner le prêt-à-porter, il se concentre sur la haute couture pour l'abandonner finalement en 2002. Il se pacse avec son conjoint Pierre Bergé en 2008, quelques jours avant sa mort4.
    </p>

    <img class="img" src="../../assets/Images/yves3.png" width="300px" height="300px" alt="">
    <p>
    Perpétuellement entouré et inspiré par les femmes, de Victoire à Betty Catroux, de Catherine Deneuve à Katoucha, Yves Saint Laurent sait au cours de sa carrière créer pour elles, et laisse à sa mort en 2008 un héritage majeur pour la mode ainsi que de nombreux classiques de la garde-robe féminine. Les musées, le cinéma ou les éditeurs ne cesseront de lui rendre hommage.
    </p>
</div>









