*{
    text-align: center;
}

ul#liste li{
    display:inline-block;
    text-align:center;
    margin:100px;
}

#liste{
    margin-bottom:15px;
}

#form{
margin-left:33%;
}

#map{
    margin-bottom:50px;
}
