<body>
  <section>
    <h1>CONTACT</h1>
    <div id="form" class="row">
      <form class="col s12">

        <div class="row">
          <div class="input-field col s6">
            <input id="email" type="email" class="validate" placeholder="E-mail">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <textarea id="textarea1" class="materialize-textarea" placeholder="Messages..."></textarea>
          </div>
        </div>

        <div class="row">
          <div class="input-fiel col s6">
            <button class="btn waves-effect waves-light green" type="submit" name="action">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <ul id="liste">
                <li>
                    <i class="fa fa-paper-plane-o fa-2x"></i>
                    <br>
                    Mail
                    <br>
                    marvel.studio@disney-compagny.com
                </li>
    
                <li>
                    <i class="fa fa-mobile fa-3x"></i>
                    <br>
                    Téléphone
                    <br>
                    01 73 26 50 00
                </li>
    
                <li>
                    <i class="fa fa-map-o fa-2x"></i>
                    <br>
                    Adresse
                    <br>
                    25 Quai Panhard et Levassor, 75013 Paris
                </li>
            </ul>
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2626.5655737874936!2d2.3820204155142695!3d48.828349779284494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e61cd78ace23a3%3A0xc398f8a9159f2683!2sThe%20Walt%20Disney%20Company!5e0!3m2!1sfr!2sfr!4v1574113029118!5m2!1sfr!2sfr" width="50%" height="600" frameborder="0" style="border:0;" allowfullscreen="" id="map"></iframe>
            </div>
        </section>
</body>
