<h1>PAGE D'ADMINISTRATION</h1>

<h2>Création d'articles</h2>
<div class="row">
        <form [formGroup]="form" (ngSubmit)="addArt()" class="col s12">
          <div class="row">
            <div class="input-field col s6">
                    <input id=titre type="text" class="validate" formControlName ="Titre" placeholder="Titre">
            </div>
            <div class="input-field col s6">
              <input id="auteur" type="text" class="validate" formControlName ="Auteur" placeholder="Auteurs"> 
            </div>
          </div>
          <div class="row">
                    <div class="input-field col s12">
                      <textarea id="textarea1" class="materialize-textarea" formControlName ="Texte" placeholder="Contenus"></textarea>
                    </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                  <input value="Alvin" id="img" type="text" class="validate" formControlName ="Url"placeholder="Images">
                </div>
              </div>


        <div>
            <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="form.invalid">Ajouter
            </button>
          </div>
        </form>
      </div>

        <!-- Modal Trigger 
    <button data-target="modal1" class="btn modal-trigger">Modal</button>

  Modal Structure
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div> -->

<h2>Tableau des articles</h2>
<table>
    <thead>
            <tr>
                    <th class="border">Références</th>
                    <th class="border">Titres</th>
                    <th class="border">Images</th>
                    <th class="border">Contenus</th>
                    <th class="border">Auteurs</th>
                    <th class="border">Actions</th>
                </tr>

    </thead>
<tbody>
            <tr *ngFor="let cmpt of article | async">
                        <td class="border">{{cmpt.id}}</td>
                        <td class="border">{{cmpt.Titre}}</td>
                        <td class="border"><img src="../../assets/Images/{{cmpt.Url}}" width="100px" height="100px" alt=""></td>
                        <td class="border">{{cmpt.Texte}}</td>
                        <td class="border">{{cmpt.Auteur}}</td>
                        <td class="border"><a class="waves-effect waves-light red btn" (click)="removeArt(cmpt.id)">Supprimer</a></td>
            </tr>              
    </tbody>
</table>
