<h1>LES CREATIONS DE SAINT-LAURENT :</h1>
<div *ngFor = "let cmpt of article | async">
        <h1 class="h2">{{cmpt.Titre}}</h1>
        <img src="../../assets/Images/{{cmpt.Url}}" width="280px" height="300px" alt="" class="img">
        <p class="txt">{{cmpt.Texte}}</p>
        <p class="txt">{{cmpt.Auteur}}</p>
</div>